# langchain
# langchain-community
# streamlit
# supabase
# PyPDF2
# faiss-cpu
# sentence-transformers
# google-generativeai
# python-dotenv

streamlit

# LangChain + Google GenAI (Correct Versions)
langchain==0.2.12
langchain-core==0.2.28
langchain-google-genai==1.0.3
langchain-community

# Vector DB + Embeddings
sentence-transformers
faiss-cpu==1.12.0

# Supabase
supabase

# PDF
PyPDF2

# Google AI (Gemini)
google-generativeai

# Other
python-dotenv


