# langchain
# langchain-community
# streamlit
# supabase
# PyPDF2
# faiss-cpu
# sentence-transformers
# google-generativeai
# python-dotenv

streamlit

# LangChain + Google GenAI (COMPATIBLE VERSIONS)
langchain==0.1.20
langchain-core==0.1.52
langchain-community
langchain-google-genai==0.0.6

# Vector DB + Embeddings
sentence-transformers
faiss-cpu==1.12.0

# Supabase
supabase

# PDF
PyPDF2

# Google Gemini
google-generativeai

# Other
python-dotenv
