# langchain
# langchain-community
# streamlit
# supabase
# PyPDF2
# faiss-cpu
# sentence-transformers
# google-generativeai
# python-dotenv

streamlit
langchain
langchain-community
langchain-google-genai
supabase
PyPDF2
faiss-cpu==1.12.0
sentence-transformers
google-generativeai
python-dotenv

